<div class="container">
<h1 class="headlineh1">{{pageTitle}}</h1>
<div *ngFor="let doc of documents" class="card mb-3">
<img class="card-img-top" src="{{doc.image_url}}" alt="Card image cap" width="100%">

  <div  class="card-block">

    <h4 class="card-title">{{doc.title}}</h4>
    <p class="card-text">
      <small class="text-muted">
        {{doc.updated_at | date}}
      </small>
    </p>
    <p class="card-text"><em>{{doc.description}}</em></p>
    <a href="{{doc.file_url}}">
      <div class="btn btn-success">
        Download File
      </div>
    </a>
    

    

  </div>
</div>
</div>


  
  
